#container{
   
    margin-left: 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

input, select {
    width: 50vw;
    border-radius: 5px;
}
#btn>a {
    text-decoration: none;
    color: azure;
}
#btn {
    width: 10vw;
    background-color: rgba(22, 64, 129);
    margin-top: 20px;
    margin-left: 20vw;
    border-radius: 5px;
    border: 0px;
    height: 65px;
}
svg {
    width: 800px;
    margin-top: 7vw;
}

#mainCont {
    display: flex;

}
h2 {
    font-size: small;
}
p{
    color: grey;
    font-size: small;
}