 /* ============navbar===== */
 #navbar {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    height:60px;  
background-color: white;
}

#navbar-left {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
    padding-bottom:10px;
}

#navbar-left>h1>img {
   width: 100px;
}
#navbar-left>h2>img {
    width: 45px;
 }
#navbar-left>h4>a {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 14px;
 font-weight: 400;

    line-height: 21px; 

    color: rgb(45, 45, 45);

}
a{
    text-decoration: none;
}

#navbar-right {

    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items:center;
    /* border:1px solid teal; */
    padding-top:0px;

}

#navbar-right>img {
    margin-top: -13px;
    width: 25px;
    height: 25px;
}

#navbar-right-text>a {
    margin-top: -20px;

    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 14px;

    font-weight: 400;

    line-height: 21px;

    color: rgb(45, 45, 45);
}
/* .flower_logo{
    margin-top:-20px;
}
.logo1{
    margin-top:-60px;
} */

/* ==============navbar done=========== */